{% extends 'auth_app/base.html'%}
{% load static %}
{% block container %}
<form id = "PasswordResetForm" style="display: none;">
    <fieldset>
        <h2 id = 'signs'>Change</h2>
        <hr class="colorgraph">
        <div id="password1Group" class="form-group">
            <input type="password1" name="password1" id="password1" class="form-control input-lg" placeholder="Password">
        </div>
        <div id="password2Group" class="form-group">
            <input type="password2" name="password2" id="password2" class="form-control input-lg" placeholder="Password again">
        </div>
        <hr class="colorgraph">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
            <input id='resetPasswordBtn'type="button" class="btn btn-lg btn-success btn-block" value="Submit">
            </div>
        </div>
    </fieldset>
</form>
<div id ='messageDiv'> </div>
<div id = 'timer'></div>

{% endblock %}

{% block jquery %}
$.getScript('{%static 'auth_app/js/extends_js/ui-handler.js'%}');
$.getScript('{% static 'auth_app/js/reset-password-confrim.js' %}');
{% endblock %}